/* Card Styles for Grid Layout */
.repo-card {
    border: 1px solid #ddd;
    position: relative;
    background-color: #fff;
    border-left: 2px solid #276DA3;
    border-radius: 0;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

.repo-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensures the card body takes up the full height */
}

.repo-title-container,
.repo-branch-container,
.repo-path-container {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.repo-icon {
    width: 20px;
    text-align: center;
}

.repo-title,
.repo-branch,
.repo-path {
    margin-left: 8px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-footer {
    background-color: #f8f9fa;
    padding: 8px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;  /* Align buttons to the left */
    gap: 10px;
    margin-top: auto;  /* Ensure the footer stays at the bottom */
    width: 100%; /* Ensure it covers full width */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


/* List Item Styles */
.repo-list-item {
    border: 1px solid #ddd;
    border-left: 2px solid #276DA3;  /* Matching blue color */
    border-radius: 0;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

.repo-actions-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Hover Effect for Consistency */
.hover-effect {
    background-color: #ECECEC !important;
    border-left-color: #3A8DC1 !important; /* Darker blue for hover */
}

/* Action Button Styles */
.repo-action {
    padding: 0;
}

/* Pagination Styles */
.pagination .page-item.active .page-link {
    background-color: #276DA3;
    border-color: #276DA3;
}

.pagination .page-link {
    color: #276DA3;
}

.pagination .page-link:hover {
    background-color: #3A8DC1;
    border-color: #3A8DC1;
}

.pagination .page-link {
    border-radius: 0.25rem; /* Keep the button rounded */
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Smooth transition */
}

/* Items Per Page Dropdown */
#itemsPerPageSelect {
    width: auto;
    display: inline-block;
    margin-left: 5px;
}
